<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="/imgs/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This Site Uses Data from mapbox.com and darkskyapi.net</p>
        <img src="/imgs/me.jpeg">
    </div>
  
    {{>footer}}
</body>

</html>